<div class="header-container">
    <div class="header">
        <p>
            Цветя за дома
        </p>
    </div>

    <div class="sort pc">
        <ul [style.border]="isSortDropdownOpen ? '1px solid #25523B' : '1px solid rgba(36, 61, 41, 0.16)'" (click)="toggleSortDropdown()" id="selected" class="sort-select">
            <li class="selected">{{ selectedText }}</li> 
          </ul>
        
        <ul *ngIf="isSortDropdownOpen" id="not-selected" class="sort-select-container">
            <li [class.active]="activeItem === 0" (click)="onItemClick(0, 'Препоръчани'); GetProducts()">Препоръчани</li> 
            <li [class.active]="activeItem === 1" (click)="onItemClick(1, 'Цена: Ниска към Висока'); GetProductsSortedByPriceAsc()" >Цена: Ниска към Висока</li>
            <li [class.active]="activeItem === 2" (click)="onItemClick(2, 'Цена: Висока към Ниска'); GetProductsSortedByPriceDesc()">Цена: Висока към Ниска</li>
            <li [class.active]="activeItem === 3" (click)="onItemClick(3, 'Най-Нови')">Най-Нови</li>
            <li [class.active]="activeItem === 4" (click)="onItemClick(4, 'Най-продавани')">Най-продавани</li>
        </ul>
    </div>
</div>

<!-- mobile -->

<div class="mobile-sort-btn">
    <button (click)="toggleMobileSort()">
        Филтрирай/Сортирай
    </button>
</div>

<div class="mobile-products-container">
    <div *ngFor="let product of products" class="card">
        <img (click)="redirectToDetails(product.id)" [src]="getBase64ImageUrl(product.picturesData[0])" alt="Product image">
        <button (click)="addToCart(product)" class="add-to-cart-btn">
            Добави в количка
        </button>
        <div class="card-details-grid">
            <div class="card-details">
                <h1>{{product.name}}</h1>
                <p>{{product.price}} лв.</p>
            </div>
            <!-- <div class="card-secondary-details"> -->
        </div>
    </div>
</div>

<div [style.display]="isMobileSortActive ? 'flex' : 'none'" class="side-sort-wrapper">
</div>

<div [ngClass]="{'show-sort' : isMobileSortActive}" class="side-sort">
    <div class="sort mobile">
        <div class="side-sort-header">
            <h1>Сортирай</h1>
            <i (click)="toggleMobileSort()" class="fa fa-times" aria-hidden="true"></i>
        </div>

        <ul [style.border]="isSortDropdownOpen ? '1px solid #25523B' : '1px solid rgba(36, 61, 41, 0.16)'" (click)="toggleSortDropdown()" id="selected" class="sort-select">
            <li class="selected">{{ selectedText }}</li> 
          </ul>
        
        <ul *ngIf="isSortDropdownOpen" id="not-selected" class="sort-select-container">
            <li [class.active]="activeItem === 0" (click)="onItemClick(0, 'Препоръчани'); GetProducts()">Препоръчани</li> 
            <li [class.active]="activeItem === 1" (click)="onItemClick(1, 'Цена: Ниска към Висока'); GetProductsSortedByPriceAsc()">Цена: Ниска към Висока</li>
            <li [class.active]="activeItem === 2" (click)="onItemClick(2, 'Цена: Висока към Ниска'); GetProductsSortedByPriceDesc()">Цена: Висока към Ниска</li>
            <li [class.active]="activeItem === 3" (click)="onItemClick(3, 'Най-Нови')">Най-Нови</li>
            <li [class.active]="activeItem === 4" (click)="onItemClick(4, 'Най-продавани')">Най-продавани</li>
        </ul>
    </div>
    <!-- Code repetition!!! -->
    <div class="nav mobile">
        <ul>
            <div *ngFor="let item of dropdownItems">
                <li [id]="item.id" (click)="toggleNavDropdown(item.id)" 
                [style.border-top]="item.id === 0 ? '1px solid rgb(215, 215, 215)' : ''" 
                [style.border-bottom]="showDropdown[item.id] ? 'none' : '1px solid rgb(215, 215, 215)'">
                    {{ item.label }}
                    <i class="fa-solid" [ngClass]="{'fa-chevron-down': !showDropdown[item.id], 'fa-angle-up': showDropdown[item.id]}"></i>
                </li>

                <!-- Sizes -->
                <ul *ngIf="showDropdown[0] && showDropdown[item.id]" class="dropdown-menu" (click)="applyFilter(sizeFilterFlags, 'Sizes')">
                    <li *ngFor="let sizeFilter of sizeFilterFlags; let i = index" (click)="this.sizeFilterFlags[i] = !this.sizeFilterFlags[i]">
                        <span>
                          <i *ngIf="sizeFilter" class="fa-solid fa-square-check"></i>
                          <i *ngIf="!sizeFilter" class="fa-regular fa-square"></i>
                        </span>
                        {{ i === 0 ? 'Малки' : i === 1 ? 'Средни' : 'Големи' }}
                    </li>
                </ul>

                <!-- Light Intensity -->
                <ul *ngIf="showDropdown[1] && showDropdown[item.id]" class="dropdown-menu" (click)="applyFilter(lightFilterFlags, 'LightIntensities')">
                    <li *ngFor="let lightFilter of lightFilterFlags; let i = index" (click)="toggleFilterFlag('LightIntensities', i)">
                        <span>
                          <i *ngIf="lightFilter" class="fa-solid fa-square-check"></i>
                          <i *ngIf="!lightFilter" class="fa-regular fa-square"></i>
                        </span>
                        {{ i === 0 ? 'Малко/Изкуствена' : i === 1 ? 'Частична' : 'Директна светлина' }}
                      </li>
                </ul>

                <!-- Pet Compatibility -->
                <ul *ngIf="showDropdown[2] && showDropdown[item.id]" class="dropdown-menu" (click)="applyFilter(petFilterFlag, 'PetCompatibility')">
                    <li (click)="toggleFilterFlag('PetCompatibility', 0)">
                        <span>
                            <i *ngIf="petFilterFlag[0]" class="fa-solid fa-square-check"></i>
                            <i *ngIf="!petFilterFlag[0]" class="fa-regular fa-square"></i>
                        </span>
                        Да
                    </li>
                </ul>

                <!-- Ait Purify -->
                <ul *ngIf="showDropdown[3] && showDropdown[item.id]" class="dropdown-menu" (click)="applyFilter(airPurifyFilterFlag, 'AirPurifiable')">
                    <li (click)="toggleFilterFlag('AirPurifiable', 0)">
                        <span>
                            <i *ngIf="airPurifyFilterFlag[0]" class="fa-solid fa-square-check"></i>
                            <i *ngIf="!airPurifyFilterFlag[0]" class="fa-regular fa-square"></i>
                        </span>
                        Да
                    </li>
                </ul>

                <!-- Grow Difficulty-->
                <ul *ngIf="showDropdown[4] && showDropdown[item.id]" class="dropdown-menu" (click)="applyFilter(growDifficultyFilterFlags, 'GrowDifficulties')">
                    <li *ngFor="let growDifficulty of growDifficultyFilterFlags; let i = index" (click)="toggleFilterFlag('GrowDifficulties', i)">
                        <span>
                            <i *ngIf="growDifficulty" class="fa-solid fa-square-check"></i>
                            <i *ngIf="!growDifficulty" class="fa-regular fa-square"></i>
                        </span>
                        {{ i === 0 ? 'Лесни за отглеждане' : i === 1 ? 'Средно лесни' : 'За напреднали' }}
                    </li>
                </ul>

                <!-- Colors -->
                <ul *ngIf="showDropdown[5] && showDropdown[item.id]" class="dropdown-menu" (click)="applyFilter(colorsFilterFlags, 'Colors')">
                    <li *ngFor="let color of colorsFilterFlags; let i = index" (click)="toggleFilterFlag('Colors', i)">
                        <span>
                            <i *ngIf="color" class="fa-solid fa-square-check"></i>
                            <i *ngIf="!color" class="fa-regular fa-square"></i>
                        </span>
                        {{ i === 0 ? 'Червено' : i === 1 ? 'Зелено' : 'Синьо' }}
                    </li>
                </ul>

                <!-- Price -->
                <ul *ngIf="showDropdown[6] && showDropdown[item.id]" class="dropdown-menu">
                </ul>
            </div>
        </ul>
    </div>
</div>

<!-- end of mobile -->

<div class="container">
    <div class="nav pc">
        <ul>
            <div *ngFor="let item of dropdownItems">
                <li [id]="item.id" (click)="toggleNavDropdown(item.id)" 
                [style.border-top]="item.id === 0 ? '1px solid rgb(215, 215, 215)' : ''" 
                [style.border-bottom]="showDropdown[item.id] ? 'none' : '1px solid rgb(215, 215, 215)'">
                    {{ item.label }}
                    <i class="fa-solid" [ngClass]="{'fa-chevron-down': !showDropdown[item.id], 'fa-angle-up': showDropdown[item.id]}"></i>
                </li>

                <!-- Sizes -->
                <ul *ngIf="showDropdown[0] && showDropdown[item.id]" class="dropdown-menu" (click)="applyFilter(sizeFilterFlags, 'Sizes')">
                    <li *ngFor="let sizeFilter of sizeFilterFlags; let i = index" (click)="this.sizeFilterFlags[i] = !this.sizeFilterFlags[i]">
                        <span>
                          <i *ngIf="sizeFilter" class="fa-solid fa-square-check"></i>
                          <i *ngIf="!sizeFilter" class="fa-regular fa-square"></i>
                        </span>
                        {{ i === 0 ? 'Малки' : i === 1 ? 'Средни' : 'Големи' }}
                    </li>
                </ul>

                <!-- Light Intensity -->
                <ul *ngIf="showDropdown[1] && showDropdown[item.id]" class="dropdown-menu" (click)="applyFilter(lightFilterFlags, 'LightIntensities')">
                    <li *ngFor="let lightFilter of lightFilterFlags; let i = index" (click)="toggleFilterFlag('LightIntensities', i)">
                        <span>
                          <i *ngIf="lightFilter" class="fa-solid fa-square-check"></i>
                          <i *ngIf="!lightFilter" class="fa-regular fa-square"></i>
                        </span>
                        {{ i === 0 ? 'Малко/Изкуствена' : i === 1 ? 'Частична' : 'Директна светлина' }}
                      </li>
                </ul>

                <!-- Pet Compatibility -->
                <ul *ngIf="showDropdown[2] && showDropdown[item.id]" class="dropdown-menu" (click)="applyFilter(petFilterFlag, 'PetCompatibility')">
                    <li (click)="toggleFilterFlag('PetCompatibility', 0)">
                        <span>
                            <i *ngIf="petFilterFlag[0]" class="fa-solid fa-square-check"></i>
                            <i *ngIf="!petFilterFlag[0]" class="fa-regular fa-square"></i>
                        </span>
                        Да
                    </li>
                </ul>

                <!-- Ait Purify -->
                <ul *ngIf="showDropdown[3] && showDropdown[item.id]" class="dropdown-menu" (click)="applyFilter(airPurifyFilterFlag, 'AirPurifiable')">
                    <li (click)="toggleFilterFlag('AirPurifiable', 0)">
                        <span>
                            <i *ngIf="airPurifyFilterFlag[0]" class="fa-solid fa-square-check"></i>
                            <i *ngIf="!airPurifyFilterFlag[0]" class="fa-regular fa-square"></i>
                        </span>
                        Да
                    </li>
                </ul>

                <!-- Grow Difficulty-->
                <ul *ngIf="showDropdown[4] && showDropdown[item.id]" class="dropdown-menu" (click)="applyFilter(growDifficultyFilterFlags, 'GrowDifficulties')">
                    <li *ngFor="let growDifficulty of growDifficultyFilterFlags; let i = index" (click)="toggleFilterFlag('GrowDifficulties', i)">
                        <span>
                            <i *ngIf="growDifficulty" class="fa-solid fa-square-check"></i>
                            <i *ngIf="!growDifficulty" class="fa-regular fa-square"></i>
                        </span>
                        {{ i === 0 ? 'Лесни за отглеждане' : i === 1 ? 'Средно лесни' : 'За напреднали' }}
                    </li>
                </ul>

                <!-- Colors -->
                <ul *ngIf="showDropdown[5] && showDropdown[item.id]" class="dropdown-menu" (click)="applyFilter(colorsFilterFlags, 'Colors')">
                    <li *ngFor="let color of colorsFilterFlags; let i = index" (click)="toggleFilterFlag('Colors', i)">
                        <span>
                            <i *ngIf="color" class="fa-solid fa-square-check"></i>
                            <i *ngIf="!color" class="fa-regular fa-square"></i>
                        </span>
                        {{ i === 0 ? 'Червено' : i === 1 ? 'Зелено' : 'Синьо' }}
                    </li>
                </ul>

                <!-- Price -->
                <ul *ngIf="showDropdown[6] && showDropdown[item.id]" class="dropdown-menu">
                </ul>
            </div>
        </ul>
    </div>

<div class="products-container">
    <div *ngFor="let product of products" class="card">
        <img (click)="redirectToDetails(product.id)" [src]="getBase64ImageUrl(product.picturesData[0])" alt="Product image">
        <button (click)="addToCart(product)" class="add-to-cart-btn">
            Добави в количка
        </button>
        <div class="card-details-grid">
            <div class="card-details">
                <h1>{{product.name}}</h1>
                <p>{{product.price}} лв.</p>
            </div>
            <!-- <div class="card-secondary-details"> -->
        </div>
    </div>
</div>

<div class="mobile-container">
    <div class="mobile-sort">

    </div>

    <div class="mobile-products-container">

    </div>
</div>