.header-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding-block: 20px;
    padding-left: 40px;
    padding-right: 40px;

    max-width: 100%;
    width: 1440px;
    box-sizing: border-box;
}

    .header{
        font-size: 2rem;
        color: #25523B;
    }
    

    .sort{
        font-size: 1.5rem;
        width: min(280px, 32vw);
    }            

        .sort-select{
            width: 100%;

            border: 1px solid rgba(36, 61, 41, 0.16);
            color: #25523B;

            font-family:'Open Sans', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: .07em;
            text-transform: uppercase;

            cursor: pointer;
        }

        .sort-select-container{
            display: block;
            position: absolute;
            top: calc(2.2rem + 2rem + 4.5rem + 1rem + 1rem + 2px);
            width: min(280px, 32vw);

            border: 1px solid #25523B;
            z-index: 1;
            color: #25523B;
            background-color: white;

            font-family:'Open Sans', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: .07em;
            text-transform: uppercase;

            cursor: pointer;
        }

        .sort-select li{
            padding: 1.1rem;
            list-style: none;
        }

        .sort-select-container li{
            padding: 1.1rem;
            list-style: none;
        }
    
        .sort-select-container li:hover{
            background-color: rgb(255, 239, 224);
        }

        .active{
            background-color: rgb(255, 239, 224);
        }

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
            
    margin-top: 2.5rem;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;

    max-width: 100%;
    width: 1440px;
    box-sizing: border-box;
}

    .nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        position: sticky;

        grid-column: 1;
    }
        .nav li{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            
            padding: 1rem;
            gap: 1.4rem;

            font-size: 1.3rem;
            font-weight: 400;
            letter-spacing: .05rem;
            color: #25523B;

            list-style: none;
            text-align: left;
            cursor: pointer;
            
            border-bottom: 1px solid rgb(215, 215, 215);

            transition: linear .2s;
        }

        .nav li:hover{
            background-color: rgb(245, 245, 245);
        }
    
    .dropdown-menu li{
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
        gap: .5rem;

        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: .025rem;
        color: #25523B;

        border: none;
    }
        .dropdown-menu span{
            font-size: 1.7rem;
            font-weight: 900;
        }

        .dropdown-menu li label .checkbox-icon {
            display: inline-block;
            width: 1em;
            height: 1em;
            border: 2px solid #25523B;
            border-radius: 2px;
            vertical-align: middle;
            margin-right: 0.5em;
            background-color: transparent;
        }

    .products-container{
        grid-column: 2;
        grid-column: span 3;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: 2.4rem;

        justify-items: center;
    }
        .card{
            position: relative;
            padding-bottom: 2.4rem;

            cursor: pointer;
            transition: linear .15s;

            box-sizing: border-box;
        }

        .card:hover .card-details{
            color:#00a14e !important;
        }

        .card:hover{
            transform: scale(1.04);
        }

            .card > img{
                width: 100%;
                height: 90%;
                object-fit: cover;
            }

            .add-to-cart-btn{
                display: none;
                position: absolute;
                bottom: calc(12% + 2.4rem);
                left: calc(50% - 1.2rem);
                z-index: 1;
                transform: translateX(calc(-50% + 1.2rem));

                background: rgb(253, 250, 245);
                border: 1px solid #25523B;
                border-radius: 26px;
                color: #25523B;

                font-family: Raisonne Demibold,sans-serif;
                font-size: min(0.9rem, 2.5vw);
                font-weight: 400;
                letter-spacing: .1rem;
                line-height: 1.3;

                padding: 1rem;
                text-transform: uppercase;
                width: calc(100% - 2rem - 2.4rem);

                transition: linear .2s;
                cursor: pointer;

                -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.25);
                -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.25);
                box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.25);
            }

            .card:hover .add-to-cart-btn{
                display: block;
            }

            .add-to-cart-btn:hover{
                background-color: rgb(247, 230, 200);
            }

            .card-details-grid{
                display: grid;
                grid-template-rows: repeat(3, 1fr);

                margin-top: .6rem;
            }

                .card-details{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: nowrap;

                    grid-row: 1;

                    font-size: min(1.4rem, 4.8vw);
                    font-weight: 500;
                    color:#25523B;
                }

                .card-secondary-details{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: nowrap;

                    grid-row: 2;

                    font-size: min(1.1rem, 4.4vw);
                    font-weight: 500;
                    color:#25523B;

                    margin-block: .25rem;
                }

.mobile-container{
    display: none;
    gap: 40px;

    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

    padding-left: 40px;
    padding-right: 40px;

    max-width: 100%;
    width: 1440px;
    box-sizing: border-box;
}

    .mobile-sort-btn{
        display: none;
        align-items: center;
        justify-content: center;

        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;

        padding-left: 1rem;
        padding-right: 1rem;

        height: auto;

        width: 1440px;
        max-width: 100%;

        box-sizing: border-box;
    }

        .mobile-sort-btn > button {
            border: 1px solid #25523B;
            border-radius: 20px;

            padding: 8px 16px;
            width: 100%;
    
            background-color: white;
            color: #25523B;

            text-align: center;
            font-size: min(1.2rem, 5vw);
        }

    .mobile-products-container{
        display: none;
        grid-template-columns: repeat(2, auto);
        justify-items: center;
        gap: 1rem;

        margin-top: 2.5rem;
        margin-bottom: 10vh;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    
        width: 1440px;
        max-width: 100%;
        box-sizing: border-box;
    }

        .side-sort-wrapper{
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0; left: 0;
            background: rgba(0,0,0 0.9);
            height: 100%;
            width: 100%;
            z-index: 9;
            -webkit-backdrop-filter: brightness(60%);
            backdrop-filter: brightness(60%);
        }

        .side-sort{
            display: flex;
            justify-content: start;

            width: 75%;
            height: 100vh;
            top: 0;
            left: -70%;
            position: fixed;
            z-index: 10;

            background-color: white;
            /* -webkit-backdrop-filter: blur(.5rem);
            backdrop-filter: blur(.5rem); */

            opacity: 0;
            transition: opacity 350ms ease-out, left 350ms ease-out;
        }

        .side-sort.show {
            opacity: 1;
            left: 0;
        }

@media (max-width: 940px) {
    .mobile-container{
        display: grid;
    }

    .mobile-products-container{
        display: grid;
    }

    .mobile-sort-btn{
        display: flex;
    }

    .card-details-grid{
        margin-top: .3rem;
    }

    .add-to-cart-btn{
        justify-content: center;
        left: 0;
        transform: translateX(0);
        letter-spacing: 0;

        padding: 8px;
        margin: 8px;
        width: calc(100% - 16px);
    }

    .sort.pc{
        display: none;
    }

    .sort{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5rem;

        font-size: 1.5rem;
        box-sizing: border-box;
    }
    
        .sort > h1 {
            margin-bottom: 1.5rem;
        }

        .sort-select{
            width: 100%;
            font-size: .85rem;
        }

        .sort-select li{
            white-space: nowrap;
            text-overflow:ellipsis;
            overflow: hidden;
        }

        .sort-select-container{
            top: calc(2.5rem + 1.5rem + 1.5rem + 2px + 2rem + .85rem);
            font-size: .85rem;
            width: 80%;
        }

    .container{
        display: none;
    }
}