.header-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    max-width: 100%;
    width: 1440px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding-block: 20px;
}

    .header{
        font-size: 2rem;
        color: #25523B;
        padding-left: 40px;
    }
    

    .sort{
        font-size: 1.5rem;
        width: min(280px, 32vw);
        padding-right: 40px;
    }            

        .sort-select{
            width: 100%;

            border: 1px solid rgba(36, 61, 41, 0.16);
            color: #25523B;

            font-family:'Open Sans', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: .07em;
            text-transform: uppercase;

            cursor: pointer;
        }

        .sort-select-container{
            display: block;
            position: absolute;
            top: calc(2.2rem + 2rem + 4.5rem + 1rem + 1rem + 2px);
            width: max(300px, 15vw);

            border: 1px solid #25523B;
            z-index: 1;
            color: #25523B;
            background-color: white;

            font-family:'Open Sans', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: .07em;
            text-transform: uppercase;

            cursor: pointer;
        }

        .sort-select li{
            padding: 1.1rem;
            list-style: none;
        }

        .sort-select-container li{
            padding: 1.1rem;
            list-style: none;
        }
    
        .sort-select-container li:hover{
            background-color: rgb(255, 239, 224);
        }

        .active{
            background-color: rgb(255, 239, 224);
        }

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
            
    margin-bottom: 10vh;
}

    .nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        margin-top: 2.5rem;
        justify-content: end;
        align-items: start;

        position: sticky;

        grid-column: 1;
        grid-column: span 2;
    }
        .nav li{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            
            padding: 1rem;
            gap: 1.4rem;

            font-size: 1.3rem;
            font-weight: 400;
            letter-spacing: .05rem;
            color: #25523B;

            list-style: none;
            text-align: left;
            cursor: pointer;
            
            border-bottom: 1px solid rgb(215, 215, 215);

            transition: linear .2s;
        }

        .nav li:hover{
            background-color: rgb(245, 245, 245);
        }
    
    .dropdown-menu li{
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
        gap: .5rem;

        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: .025rem;
        color: #25523B;

        border: none;
    }
        .dropdown-menu span{
            font-size: 1.7rem;
            font-weight: 900;
        }

        .dropdown-menu li label .checkbox-icon {
            display: inline-block;
            width: 1em;
            height: 1em;
            border: 2px solid #25523B;
            border-radius: 2px;
            vertical-align: middle;
            margin-right: 0.5em;
            background-color: transparent;
        }

    .products-container{
        grid-column: 3;
        grid-column: span 4;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        margin: 1.25rem;
        margin-top: calc(2.5rem - 1.2rem);
        gap: .4rem;

        justify-items: center;
    }
        .card{
            position: relative;
            padding: 1.2rem;
            padding-bottom: 2.4rem;

            cursor: pointer;
            transition: linear .15s;
        }

        .card:hover .card-details{
            color:#00a14e !important;
        }

        .card:hover{
            transform: scale(1.04);
        }

            .card > img{
                width: 100%;
                height: 90%;
                object-fit: cover;
            }

            .add-to-cart-btn{
                display: none;
                position: absolute;
                bottom: calc(12% + 2.4rem);
                left: calc(50% - 1.2rem);
                z-index: 1;
                transform: translateX(calc(-50% + 1.2rem));

                background: rgb(253, 250, 245);
                border: 1px solid #25523B;
                border-radius: 26px;
                color: #25523B;

                font-family: Raisonne Demibold,sans-serif;
                font-size: 0.9rem;
                font-weight: 400;
                letter-spacing: .1rem;
                line-height: 1.3;

                padding: 1rem;
                text-transform: uppercase;
                width: calc(100% - 2rem - 2.4rem);

                transition: linear .2s;
                cursor: pointer;

                -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.25);
                -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.25);
                box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.25);
            }

            .card:hover .add-to-cart-btn{
                display: block;
            }

            .add-to-cart-btn:hover{
                background-color: rgb(247, 230, 200);
            }

            .card-details-grid{
                display: grid;
                grid-template-rows: repeat(3, 1fr);

                margin-top: .6rem;
            }

                .card-details{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: nowrap;

                    grid-row: 1;

                    font-size: 1.4rem;
                    font-weight: 500;
                    color:#25523B;
                }

                .card-secondary-details{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: nowrap;

                    grid-row: 2;

                    font-size: 1.1rem;
                    font-weight: 500;
                    color:#25523B;

                    margin-block: .25rem;
                }

@media (max-width: 1440px) {
    
}