<div class="checkout-sections">
    <div class="checkout-container">
        <h1 class="checkout-heading">Подробности за доставка</h1>
        <div class="delivery-options">
            <p class="checkout-small-heading">До къде да доставим?</p>
            <div class="options">
                <div [class.option]="true" [class.selected]="selectedOption === 0" (click)="selectOption(0)">
                    <span class="full-text">Доставка до дома</span>
                    <span class="short-text">До дома</span>
                </div>
                <div [class.option]="true" [class.selected]="selectedOption === 1" (click)="selectOption(1)">
                    <span class="full-text">Доставка до офис</span>
                    <span class="short-text">До офис</span>
                </div>
            </div>
        </div>
        <div class="delivery-form">
            <p>Адрес на доставка</p>
            <div class="form-row-1 form-margin">
                <input type="text" placeholder="Име">
                <input type="text" placeholder="Фамилия">
            </div>
            <div class="form-row-2 form-margin">
                <input type="text" placeholder="Населено място" class="city">
                <input type="text" placeholder="Пощенски код" class="post-code">
            </div>
            <div class="form-row-3 form-margin">
                <input type="text" placeholder="Улица или квартал" class="address">
                <input type="text" placeholder="Номер" class="address-number">
            </div>
            <div class="form-row-4 form-margin">
                <input type="text" placeholder="Допълнителна информация">
            </div>
            <div class="button-container">
                <div class="button">
                    Към Плащане
                </div>
            </div>
        </div>
    </div>
    <div class="details-container">
        <div class="details">
            <h1 class="details-heading">Информация за поръчката</h1>

            <div class="cart-product" *ngFor="let item of cart.products">
                <div class="picture-container">
                    <img [src]="getBase64ImageUrl(item.picturesData[0])" alt="Product Image">
                </div>
                <div class="description-container">
                    <div class="flex-row row-1">
                        <p class="name">{{item.name}}</p>
                        <button (click)="removeFromCart(item.id)" class="remove-btn">&#10005;</button>
                    </div>
                    <p class="description">{{item.description}}</p>
                    <p class="size">{{item.productSizes}}</p>
                    <p class="color">{{item.productColors}}</p>
                    <div class="flex-row">
                        <div class="quantity-wrap">
                            <span (click)="subtractQuantity(item.id)"><i class="fa-solid fa-minus"></i></span>
                            <input class="quantity-input" type="number" title="quantity" [(ngModel)]="item.quantity">
                            <span (click)="addQuantity(item.id)"><i class="fa-solid fa-plus"></i></span>
                        </div>
                        <p class="price">{{item.price}} лв.</p>
                    </div>
                </div>
            </div>

            <div class="details-summary">
                <div class="flex-row">
                    <p>Междинна сума</p>
                    <p>{{priceFromCart}} лв.</p>
                </div>
                <div class="flex-row">
                    <p>Доставка</p>
                    <p>{{courierPrice}} лв.</p>
                </div>
                <div class="flex-row summary-row">
                    <p>Общо</p>
                    <p>{{totalPrice}} лв.</p>
                </div>
            </div>
        </div>
    </div>
</div>