.checkout-sections{
    display: grid;
    grid-template-columns: 60vw 40vw;

    height: calc(100vh - 4.5rem);
    overflow: hidden;
}

    .checkout-container{
        padding-top: 10vh;

        display: flex;
        flex-direction: column;
        flex: 1;
        justify-self: center;
        width: 50%;
    }

        .checkout-heading{
            font-size: 1.35rem;
            font-weight: 600;
            line-height: 1.4;
            /* color: #25523B; */

            margin-bottom: 2.4rem;
        }

        .checkout-small-heading{
            font-size: 1.3rem;
            line-height: 1.5;
            /* color: #25523B; */

            margin-bottom: .6rem;
        }

        .delivery-options{

        }

            .options{
                box-sizing: border-box;
                font-size: 1rem;

                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;

                width: 100%;
            }
                
                .option{
                    border: 1px solid rgb(215, 215, 215);
                    padding: 10px 20px;
                    width: 50%;
                    text-align: center;
                    cursor: pointer;
                }

                .selected{
                    border: 2px solid black;
                    font-weight: 600;
                    cursor: default;
                }

        .delivery-form{
            width: 100%;
            margin-top: 2rem;
            font-size: 1.3rem;
        }

        .delivery-form input{
            max-height: 48.5px;
            line-height: 20px;
            outline: none;
            cursor: text;

            border: 1px solid rgb(215, 215, 215);
            padding: 12px 24px;
        }

        .delivery-form input:focus{
            border: 1px solid #25523B;
            font-weight: 600;
            cursor: default;
        }

        .form-row-1{
            margin-top: .8rem !important;
            display: flex;
            justify-content: space-between;
            gap: 3%;
        }

            .form-row-1 input{
                width: 48.5%;
            }

        .form-row-2{
            display: flex;
            justify-content: space-between;
            gap: 3%;
        }
            
            .city{
                width: 75%;
            }

            .post-code{
                width: 25%;
            }

        .form-row-3{
            display: flex;
            justify-content: space-between;
            gap: 3%;
        }

            .address{
                width: 85%;
            }

            .address-number{
                width: 15%;
            }

        .form-row-4{
            display: flex;
        }
            
            .form-row-4 input{
                width: 100%;
            }

        .form-margin{
            margin-top: .8rem;
        }

        .button-container{
            margin-top: 2rem;

            display: flex;
            justify-content: center;
        }

            .button{
                animation: 0.3s ease 1s 1 normal none running shake-animation;
                background-color: #25523B;
                color: rgb(255, 255, 255);
                cursor: pointer;
                outline: none;
                margin: 0px;
                font-size: 1.2rem;
                font-weight: 500;
                text-align: center;
                border-radius: 2px;
                text-decoration: none;
                border: 0px;
                padding: 16px 30px;
            }

            .button:hover{
                background-color: #16422b;
            }

    .details-container{
        flex: 1;
        overflow-y: scroll; 
        display: grid;
        grid-template-columns: 1fr;
        min-height: calc(100vh - 4.5rem - 10vh);
        width: 100%;

        background-color: rgb(253, 250, 245);
        padding-top: 10vh;
    }

        .details{
            display: flex;
            flex-direction: column;
            justify-self: center;

            width: 80%;
        }

            .details-heading{
                margin-left: 1rem;
                font-size: 1.35rem;
                font-weight: 600;
                line-height: 1.4;
    
                margin-bottom: 2.4rem;
            }

            .cart-product{
                display: flex;
                height: 15vh;
                width: 85%;
                padding: 1.5rem;
                margin: 1rem;
            
                border: 1px solid rgb(229, 229, 229);
                /* border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px, rgba(0, 0, 0, 0.04) 0px 10px 15px 0px; */
            
                place-content: center space-between;
                flex-flow: row nowrap;
            }
            
            .picture-container{
                align-self: center;
                position: relative;
                height: 95%;
                width: 30%;
            }
            
            .description-container{
                width: calc(70% - 1.25rem);
                display: flex;
                flex-direction: column;
                -webkit-box-pack: justify;
                justify-content: space-between;
                align-items: flex-start;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                margin-left: 1.25rem;
                font-size: 0.85rem;
                line-height: 1;
                letter-spacing: normal;
                font-weight: 500;
            }
            
                .picture-container > img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .flex-row{
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;

                    justify-content: space-between;
                    text-align: center;
                    align-items: center;
                    width: 100%;
                }

                .quantity-wrap{
                    display: grid;
                    grid-template-columns: auto 1fr auto;
                
                    height: 1.6rem;
                    justify-self: start;
                    line-height: 1.6rem;
                
                    border-radius: 1.5rem;
                    border: 1px solid rgb(255, 239, 224);
                    padding: 3px 6px;
                }

                .quantity-wrap span{
                    cursor: pointer;
                }
                
                    .quantity-input{
                        font-size: 1.1rem;
                        background: 0 0;
                        border: 0!important;
                        text-align: center;
                        display: inline-block;
                        max-width: 1.6rem;
                        width: auto;
                        cursor: pointer;
                    }
                
                    /* Removing the arrows in text fields */
                
                    /* Chrome, Safari, Edge, Opera */
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                
                    /* Firefox */
                    input[type=number] {
                        -moz-appearance: textfield;
                    }

                .row-1{
                    margin-bottom: 0.7rem;
                }
                
                .name{
                    font-weight: 900;
                }

                .remove-btn{
                    background-color: transparent;
                    color: #25523B;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: 600;
                    text-decoration: none;
                    border: 0px;
                    padding: 0;
                }

                .price{
                    font-family: Inter,"Inter Fallback",sans-serif;
                    font-size: 1.2rem;
                    font-weight: 600;
                }

            .details-summary{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;

                margin-block: 4rem;
                margin-left: 1rem;
                gap: .8rem;

                font-size: 1rem;
                font-weight: 600;

                width: calc(100% - 2rem);
                -webkit-box-pack: justify;
                justify-content: space-between;
                align-items: center;
            }

                .summary-row{
                    font-size: 1.2rem;
                    padding-top: .8rem;

                    border-top: 1px solid rgb(215, 215, 215);
                }

                .empty-cart-container{
                    height: calc(60vh);
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                    .empty-cart-content{
                        max-width: 450px;
                        max-height: 450px;
                    }
                
                    .empty-cart-content h1{
                        text-align: center;
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: #25523B;
                    }
                
                    .empty-cart-btn{
                        width: 100%;
                        animation: 0.3s ease 1s 1 normal none running shake-animation;
                        background-color: #25523B;
                        color: rgb(255, 255, 255);
                        cursor: pointer;
                        outline: none;
                        margin-top: 10%;
                        font-size: 1.1rem;
                        font-weight: bold;
                        text-align: center;
                        border-radius: 2px;
                        text-decoration: none;
                        border: 0px;
                        padding: 16px 30px;
                    }

@media (max-width: 376px) {
    .full-text{
        display: none;
    }

    .short-text{
        display: block;
    }

    .button{
        margin: 0px;
        font-size: 1.1rem;
        padding: 14px 28px;
    }
}

@media (max-width: 425px) {
    .checkout-container{
        max-width: 88% !important;
    }

    .empty-cart-container{
        height: 75vh;
    }
}

@media (min-width: 376px) {
    .full-text{
        display: block;
    }

    .short-text{
        display: none;
    }
}

@media (max-width: 1000px) {
    .details-container{
        display: none;
    }

    .checkout-sections{
        display: flex;
        justify-content: center;
        width: 100%;
        height: calc(100vh - 4.5rem);
        overflow: hidden;
    }
    
        .checkout-container{
            padding-top: 5vh;
            max-width: 70%;
            display: flex;
            flex-direction: column;
            flex: 1;
        }
}