@import '~swiper/swiper-bundle.css';

.product-container{
    display: grid;
    grid-template-rows: repeat(2, auto);

    gap: 10vh;
}

.product-details-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-inline: 12vw;

    gap: 3rem;
}

    .product-images{
        display: grid;
        grid-template-columns: repeat(2, auto);

        width: 42vw;
    }

        .small-images-container{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            justify-self: center;
            align-self: start;

            gap: 1rem;
            
            margin-top: 2rem;
        }

            .small-images-container img{
                border-radius: 50%;
                height: 64px;
                width: 64px;
                object-fit: cover;
            }

        .big-image-container{
            width: 85%;
            justify-self:start;

            margin-top: 2rem;
        }

            .big-image-container img{
                object-fit: cover;

                max-height: 70vh;
                width: 100%;
            }

    .swiper-container {
        position: relative;
        width: 100%;
        height: 60vh;
    }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
              
        .swiper-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper-pagination {
            bottom: 10px;
            text-align: center;
            z-index: 1;
            text-align: center;
          }

    .product-description{
        margin-top: 2rem;
        margin-right: 3rem;
        justify-items: space-between;
        
        color: #25523B;

        max-width: 22vw;
    }

        .product-description-header{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;

            font-weight: 600;
            font-size: 1.5rem;
            letter-spacing: .03em;
        }

        .product-description-description{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1rem;
            margin-top: 3rem;

            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.6;
        }

            .bullet-point{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: start;
                gap: 1.5rem;
            }

        .add-to-cart-btn{
            display: inline-block;
            justify-self: center;
            align-self: center;

            margin-top: 1rem;
            
            font-size: 1rem;
            text-transform: uppercase;
            padding: 16px 32px;

            width: 60%;

            background: #224229;
            border: 1px solid #224229;
            color: white;

            border-radius: 2.5rem;
            cursor: pointer;

            text-align: center;
            text-decoration: none;
            transition: .2s;
        }

        .add-to-cart-btn:hover{
            background-color: #0e3a17;
        }

.description-container{
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;

    margin-inline: auto;
    margin-bottom: 15vh;
    width: max(70vw);

    background-color: rgb(253, 241, 218)
}

    .description{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-items: center;

        overflow-wrap: break-word;
        line-height: 1.6;
        font-size: 1.2rem;
        color: #25523B;
        gap: .5rem;

        padding: 12%;
    }

        .description-header h1{
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: .8rem;
        }

    .description-footer{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 3rem;

        border-top: 1px solid rgb(215, 215, 215);

        padding-top: 1.5rem;
        margin-top: 1.5rem;
    }

        .description-footer h1{
            font-size: 1.4rem;
            font-weight: 600;
        }

    .description-picture-container{
        display: flex;
        justify-content: center;
    }

        .description-picture-container img{
            object-fit: cover;
            max-height: 100%;
            max-width: 100%;
        }

.mobile-product-description{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    margin-top: 0.6rem;
    padding: 2vw;
    box-sizing: border-box;
    color: #25523B;
}

    .mobile-header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        font-weight: 600;
        font-size: 1.3rem;
        letter-spacing: .03em;

        margin-bottom: 1.5rem;
    }

    .mobile-description{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: .8rem;

        font-size: 1.05rem;
        font-weight: 400;
        line-height: 1.25;
    }

.mobile-description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    margin-top: 5vh;
    margin-bottom: 20vh;
    padding-block: 5vh;
    background-color: rgb(253, 241, 218)
}

@media (max-width: 376px) {
    .add-to-cart-btn{
        width: 80%;
        font-size: 0.95rem;
    }
}

@media (max-width: 1000px) {
    .product-container{
        display: none;
    }

    .small-screen-container{
        display: block;
    }

    .description-container{
        display: none;
    }

    .bullet-point{
        gap: .8rem;
    }

    .add-to-cart-btn{
        font-size: 1rem;
        padding: 14px 28px;
    }

    .description{
        line-height: 1.6;
        font-size: 1.1rem;
        gap: 0;

        padding: 2vw;
    }

    .description h1{
        font-size: 1.3rem;
    }
}

@media (min-width: 1000px) {
    .small-screen-container{
        display: none;
    }
}

@media (min-width: 1000px) and (max-width: 1439px) {
    .product-details-container{
        margin-inline: 4vw;
        gap: 1rem;
    }

    .product-images{
        width: 50vw;
    }

    .product-description{
        max-width: 45vw;
    }

    .small-images-container{
        margin-right: 1rem;
    }

    .add-to-cart-btn{
        width: 80%;
    }

    .description-container{
        width: 90%;
    }
}