<div class="details-container">
    <div class="product-details-container">
        <div class="product-images">
            <div class="small-images-container">
                <img src="assets\card.png">
                <img src="assets\card.png">
                <img src="assets\card.png">
                <img src="assets\card.png">
            </div>
            <div class="big-image-container">
                <img src="assets\card.png">
            </div>
        </div>
        <div class="product-description">
            aaa
        </div>
    </div>

</div>