<div class="product-container">
    <div class="details-container">
        <div class="product-details-container">
            <div class="product-images">
                <div class="small-images-container">
                    <img *ngFor="let image of product.picturesData; let i = index;" [src]="getBase64ImageUrl(image)" (click)="selectPicture(i)" alt="Product picture">
                </div>
                <div class="big-image-container">
                    <img [src]="getBase64ImageUrl(product.picturesData[currentPictureIndex])" alt="Main picture">
                </div>
            </div>
            <div class="product-description">
                <div class="product-description-header">
                    <h1>
                        {{product.name}}
                    </h1>
    
                    <h1>
                        {{product.price}} лв.
                    </h1>
                </div>
    
                <div class="product-description-description">
                    <p>
                        {{product.description}} 
                    </p>
                    
                    <div class="bullet-point">
                        <p class="font-2rem">&#x2022;</p>
                        <p>Трудност за отглеждане: {{product.growDifficulty}}</p>
                    </div>
    
                    <div class="bullet-point">
                        <p>&#x2022;</p>
                        <p>Количество:</p> <!--Da dobavq izbor na kakvo kolichestvo ot produkta iskat da poruchat-->
                    </div>
    
                    <div class="bullet-point">
                        <p>&#x2022;</p>
                        <p>Големина: {{product.productSizes}}</p>
                    </div>
                    <button class="add-to-cart-btn">
                        Добави в количка
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="description-container">
        <div class="description">
            <div class="description-header">
                <h1>Описание</h1>
            </div>
            <p>
                {{product.description}} <!-- Da dobavq additional description tuk-->
            </p>
            <div class="description-footer">
                <div>
                    <h1>
                        Често Срещани Имена
                    </h1>
                    <p>
                        Орхидея алабала, Орхдея нещо си
                    </p>
                </div>

                <div>
                    <h1>
                        Ботаническо Име
                    </h1>
                    <p>
                        Orchidaceae
                    </p>
                </div>
            </div>
        </div>
        <div class="description-picture-container">
            <img src="assets\card.png" alt="Product picture">
        </div>
    </div>
</div>

<div class="small-screen-container">
    <div class="swiper-container">
        <div  class="swiper-wrapper">
          <div class="swiper-slide"  *ngFor="let image of product.picturesData; let i = index;">
            <img [src]="getBase64ImageUrl(product.picturesData[i])" alt="Picture">
          </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="mobile-product-description">
        <div class="mobile-header">
            <h1>
                {{product.name}}
            </h1>
    
            <h1>
                {{product.price}} лв.
            </h1>
        </div>
    
        <div class="mobile-description">
            <p>
                {{product.description}}
            </p>
            
            <div class="bullet-point">
                <p class="font-2rem">&#x2022;</p>
                <p>Трудност за отглеждане: {{product.growDifficulty}}</p>
            </div>
    
            <div class="bullet-point">
                <p>&#x2022;</p>
                <p>Количество</p>
            </div>
    
            <div class="bullet-point">
                <p>&#x2022;</p>
                <p>Големина: {{product.productSizes}}</p>
            </div>
            <button class="add-to-cart-btn">
                Добави в количка
            </button>
        </div>
    </div>
    
    <div class="mobile-description-container">
        <div class="description">
            <div class="description-header">
                <h1>Описание</h1>
            </div>
            <p>
                {{product.description}}
            </p>
            <div class="description-footer">
                <div>
                    <h1>
                        Често Срещани Имена
                    </h1>
                    <p>
                        Орхидея алабала, Орхдея нещо си
                    </p>
                </div>
    
                <div>
                    <h1>
                        Ботаническо Име
                    </h1>
                    <p>
                        Orchidaceae
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>