<div class="login-container">
    <div class="tabs">
        <ul>
            <li [class.tabs-active]="selectedOption === false" (click)="changeForm()">
                Влизане
            </li>
            <li [class.tabs-active]="selectedOption === true" (click)="changeForm()">
                Регистрация
            </li>
        </ul>
    </div>
    <form [class.selected]="selectedOption === false" class="login-form" (ngSubmit)="onLogin()">
        <h1>
            Влизане
        </h1>
      <div class="form-group">
        <input class="input-field" type="text" id="loginUsername" name="loginUsername" placeholder="Потребителско име" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <input class="input-field" type="password" id="loginPassword" name="loginPassword" placeholder="Парола" [(ngModel)]="password" required>
      </div>
      <button class="button-primary" type="submit">Влизане</button>
    </form>

    <form [class.selected]="selectedOption === true" class="login-form" (ngSubmit)="onRegister()">
        <h1>
            Регистрация
        </h1>
        <div class="form-group">
          <input class="input-field" type="text" id="registerUsername" name="registerUsername" placeholder="Потребителско име" [(ngModel)]="user.username" required>
        </div>
        <div class="form-group">
          <input class="input-field" type="password" id="registerPassword" name="registerPassword" placeholder="Парола" [(ngModel)]="user.password" required>
        </div>
        <div class="form-group">
          <input class="input-field" type="email" id="email" name="email" placeholder="Имейл" [(ngModel)]="user.email" required>
        </div>
        <button class="button-primary" type="submit">Регистрация</button>
      </form>
</div>