<div class="nav-container">
    <div (click)="toggleMobileNav()" class="toggle">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div routerLink="" class="nav-logo">
        Logo
    </div>
    <div class="main-nav">
        <ul>
            <li routerLink="/Indoor-plants">
                За дома
            </li>
            <li>
                За градината
            </li>
        </ul>
    </div>
    <div class="misc-nav">
        <ul>
            <li class="cart" routerLink="/Cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </li>
            <li class="profile">
                <i class="fa-regular fa-user"></i>
            </li>
        </ul>
    </div>
</div>
<div  [ngClass]="{'show': mobileNavToggle}" class="nav-container-mobile" >
    <ul>
        <li>
            За дома
        </li>
        <li>
            За градината
        </li>
        <li>
            Влизане/Регистрация
        </li>
    </ul>
</div>
