<div class="nav-container">
    <div (click)="toggleMobileNav()" class="toggle">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div routerLink="" class="nav-logo">
        Logo
    </div>
    <div class="main-nav">
        <ul>
            <li routerLink="/Indoor-plants">
                За дома
            </li>
            <li>
                За градината
            </li>
        </ul>
    </div>
    <div class="misc-nav">
        <ul>
            <li class="cart" routerLink="/Cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </li>
            <li class="favourite" routerLink="/Favourites">
                <i class="fa-regular fa-heart"></i>
            </li>
            <li *ngIf="!isAuthenticated" class="profile" routerLink="/Login">
                <i class="fa-regular fa-user"></i>
            </li>
            <li *ngIf="isAuthenticated" class="profile" routerLink="/Profile/MyOrders">
                <i class="fa-regular fa-user"></i>
            </li>
        </ul>
    </div>
    <ul class="profile-dropdown">
        <li routerLink="/Profile/MyOrders">
            <i class="fa-solid fa-cart-flatbed fa-fw"></i>
            Моите поръчки
        </li>
        <li routerLink="/Profile/Security">
            <i class="fa-solid fa-lock fa-fw"></i>
            Профил и сигурност
        </li>
        <li (click)="Logout()">
            <i class="fa fa-sign-out fa-fw"></i>
            Излизане
        </li>
    </ul>
</div>
<div  [ngClass]="{'show': mobileNavToggle}" class="nav-container-mobile" >
    <ul>
        <li routerLink="/Indoor-plants">
            За дома
        </li>
        <li>
            За градината
        </li>
        <li routerLink="/Favourites">
            Любими
        </li>
        <li *ngIf="!isAuthenticated" routerLink="/Login">
            Влизане/Регистрация
        </li>
        <li *ngIf="isAuthenticated" routerLink="/Profile/MyOrders">
            Профил
        </li>
    </ul>
</div>
