.nav-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 4.5rem;
    width: 100%;
    top: 0;
    position: sticky;

    background-color: rgb(253, 250, 245);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: #25523B;
    text-transform: uppercase;
    font-weight: 500;

    border: 0;
    z-index: 9;
}
    .nav-logo{
        margin-left: 4rem;
        font-size: 1.5rem;
        font-weight: 700;

        cursor: pointer;
    }

    .main-nav{
    }

        .main-nav ul{
            display: flex;
            list-style-type: none;
            gap: 1.5rem;
            font-size: 1rem;
        }
        
        .main-nav li{
            cursor: pointer;
        }

    .misc-nav{
        margin-right: 4rem;
        font-size: 1.5rem;
        height: 100%;

        display: flex;
        align-items: center;
    }
        .misc-nav ul{
            display: flex;
            list-style-type: none;
            gap: 1rem;

            height: 100%;
            align-items: center;
        }

            .misc-nav ul li{
                display: flex;
                align-items: center;
                height: 100%;
            }

        .profile-dropdown {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: calc(4.5rem);
            right: 4rem;
            height: auto;

            -webkit-box-shadow: 0px 0px 12px 1px rgba(36,36,36,0.48);
            -moz-box-shadow: 0px 0px 12px 1px rgba(36,36,36,0.48);
            box-shadow: 0px 0px 12px 1px rgba(36,36,36,0.48);

            z-index: 10;
            color: #25523B;
            background-color: rgb(253, 250, 245);

            font-family:'Open Sans', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: .07em;
            text-transform: none;
            gap: 0 !important;
        }

        .profile-dropdown li{
            padding: 12px;
            list-style: none;
            cursor: pointer;
        }

        .profile-dropdown li:hover{
            background-color: rgb(255, 239, 224);
        }

        .misc-nav li{
            cursor: pointer;
        }

    .toggle{
        font-size: 1.5rem;
        margin-left: .6rem;
        display: none;
        z-index: 11;
    }

.nav-container-mobile{
    display: flex;
    justify-content: start;

    width: 65%;
    height: 100vh;
    top: 0;
    left: -65%;
    position: fixed;
    z-index: 10;

    background-color: #25523B;
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);

    opacity: 0;
    transition: opacity 250ms ease-out, left 250ms ease-out;
  }
  
  .nav-container-mobile.show {
    opacity: 1;
    left: 0;
  }

.nav-container-mobile ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 20vh;
    margin-left: 1rem;

    list-style-type: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

@media (max-width: 769px){
    .profile{
        display: none;
    }
}

@media (max-width: 600px){
    .main-nav{
        display: none;
    }

    .misc-nav{
        margin-right: .6rem;
    }

    .profile-dropdown{
        right: .6rem;
    }

    .nav-logo{
        margin: 0;
    }

    .toggle{
        display: flex;
    }
}
