<div *ngIf="cart.products.length > 0" class="cart-container">
    <div class="cart-products-container">
        <div class="cart-product" *ngFor="let item of cart.products">
            <div class="picture-container">
                <img [src]="getBase64ImageUrl(item.picturesData[0])" alt="Product image">
            </div>
            <div class="description-container">
                <div class="flex-row">
                    <p class="name">{{item.name}}</p>
                    <p>{{item.price}} лв.</p>
                </div>
                <p class="description">{{item.description}}</p>
                <p class="size">{{item.productSizes[0]}}</p>
                <p class="color">{{item.productColors[0]}}</p>
                <div class="secondary-container">
                    <div class="quantity-wrap">
                        <span (click)="subtractQuantity(item.id)"><i class="fa-solid fa-minus"></i></span>
                        <input class="quantity-input" type="number" title="quantity" [(ngModel)]="item.quantity">
                        <span (click)="addQuantity(item.id)"><i class="fa-solid fa-plus"></i></span>
                    </div>
                    <button (click)="removeFromCart(item.id)" class="remove-btn">&#10005; Премахни</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="cart.products.length > 0" class="cart-order-container">
        <div class="cart-order">
            <div class="price-container">
                <p class="total">Общо</p>
                <p class="total-price">{{totalPrice}} лв.</p>
            </div>
            <div class="order-btn-container">
                <button class="order-btn" routerLink="/Checkout" >Продължи към плащане</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="cart.products.length <= 0" class="empty-cart-container">
    <div class="empty-cart-content">
        <h1>Кошницата ви е празна!</h1>

        <button routerLink="" class="empty-cart-btn">Обратно към пазаруване</button>
    </div>
</div>