/* Refactor!! media querries!!!!! */

.cart-container{
    display: grid;
    min-height: calc(100vh - 4.5rem);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 2%;
    margin-bottom: 10vh;
    filter: blur(0);
    color: #25523B;
}

.cart-products-container{
    grid-column: span 2;
    margin-inline: 4%;
}

.cart-product{
    display: flex;
    height: 23vh;
    width: 75%;
    padding: 1.5rem;
    margin: 1rem;

    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px, rgba(0, 0, 0, 0.04) 0px 10px 15px 0px;

    place-content: center space-between;
    flex-flow: row nowrap;
}

.picture-container{
    align-self: center;
    position: relative;
    height: 95%;
    width: 20%;
}

.description-container{
    width: 75%;
    height: 95%;

    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;

    align-self: center;
    align-items: flex-start;

    margin-left: 1.25rem;
    font-size: 1.1rem;

    line-height: 1;
    letter-spacing: normal;
    font-weight: 500;
}

.picture-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-order-container{
    grid-column: 3;
    margin-inline: 4%;
    height: fit-content;
}

.cart-order{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80%;
    padding: 40px;
    margin: 1rem;

    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px, rgba(0, 0, 0, 0.04) 0px 10px 15px 0px;

    position: sticky;

    place-content: center space-between;
    box-sizing: border-box;
}

.name{
    font-weight: 900;
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
}

.price-container{
    display: flex;
    flex-direction: row;

    place-content: center space-between;
}

.quantity-wrap{
    display: grid;
    grid-template-columns: auto 1fr auto;

    height: 1.6rem;
    justify-self: start;
    line-height: 1.6rem;

    border-radius: 1.5rem;
    border: 1px solid rgb(255, 239, 224);
    padding: 3px 6px;
}

    .quantity-wrap span{
        cursor: pointer;
    }

    .quantity-input{
        font-size: 1.1rem;
        background: 0 0;
        border: 0!important;
        text-align: center;
        display: inline-block;
        max-width: 1.6rem;
        width: auto;
        cursor: pointer;
    }

    /* Removing the arrows in text fields */

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .flex-row{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;

        justify-content: space-between;
        text-align: center;
        align-items: center;
        width: 100%;

        font-weight: 900;
        font-size: 1.3rem;
    }

.secondary-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;

    background-color: rgb(255, 255, 255);
    color: #25523B;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
}

.price{
    font-family: Inter,"Inter Fallback",sans-serif;
}

.remove-btn{
    background-color: rgb(255, 255, 255);
    color: #25523B;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    border: 0px;
    padding: 0;
}

.total{
    font-family: Inter,"Inter Fallback",sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

.total-price{
    font-family: Inter,"Inter Fallback",sans-serif;
    font-size: 1.25rem;
}

.order-btn-container{
    width: 100%;
}

.order-btn{
    width: 100%;
    animation: 0.3s ease 1s 1 normal none running shake-animation;
    background-color: #25523B;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    margin-top: 20%;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    border: 0px;
    padding: 16px 30px;
}

.order-btn:hover{
    background-color: #16422b;
}

.empty-cart-container{
    height: calc(60vh);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .empty-cart-content{
        max-width: 450px;
        max-height: 450px;
    }

    .empty-cart-content h1{
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        color: #25523B;
    }

    .empty-cart-btn{
        width: 100%;
        animation: 0.3s ease 1s 1 normal none running shake-animation;
        background-color: #25523B;
        color: rgb(255, 255, 255);
        cursor: pointer;
        outline: none;
        margin-top: 10%;
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        border-radius: 2px;
        text-decoration: none;
        border: 0px;
        padding: 16px 30px;
    }

@media (max-width: 376px) {
    .cart-product{
        height: 15vh !important;
        margin-bottom: .5rem !important;
    }

    .description-container{
        font-size: 0.85rem;
    }

    .remove-btn{
        font-size: 0.8rem !important;
    }

    .name{
        font-size: 0.95rem;
    }

    .price{
        font-size: 0.95rem !important;
    }

    .cart-order{
        width: 70% !important;
    }
}

@media (min-width: 326px) and (max-width: 1440px) {
    .description-container{
        font-size: 0.95rem;
    }

    .remove-btn{
        font-size: 0.95rem !important;
    }

    .name{
        font-size: 1.05rem;
    }

    .price{
        font-size: 1.05rem !important;
    }
}

@media (max-width: 425px) {
    .cart-products-container{
        width: 92% !important;
        margin-inline: 0 !important;
    }

    .name{
        margin-bottom: 0;
    }

    .remove-btn{
        display: flex;
        font-size: 14px;
        margin-top: 0;
    }

    .empty-cart-container{
        height: 75vh;
    }
}

@media (max-width: 700px) {
    .cart-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 5;
        filter: blur(0);
        color: #25523B;

        box-sizing: border-box;
    }

    .cart-product{
        align-self: center;
    }
    
    .cart-products-container{
        width: 75%;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-inline: 0 !important;
        
        box-sizing: border-box;
    }
    
    
    .cart-order-container{
        display: flex;
        width: 100%;
        margin: 0 !important;
        margin-top: 5% !important;
        box-sizing: border-box;
    }
    
    .cart-order{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 0 !important;
    
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .order-btn{
        margin-top: 5% !important;
    }

    .remove-btn{
        font-size: 0.9rem;
    }

    .price{
        font-size: 1rem;
    }
}

@media (min-width: 425px) and (max-width: 700px){
    .cart-order{
        width: calc(75% - 2rem) !important; /* 1rem margin cart product */
    }
}

@media (max-width: 1025px) {
    .total{
        font-size: 1.05rem;
    }
    
    .total-price{
        font-size: 1.05rem;
    }

    .cart-order-container{
        margin-inline: 0;
        margin-right: 2%;
    }

    .cart-order{
        margin-block: 1rem;
        width: 100%;
        padding: 30px;
    }

    .cart-product{
        width: 85%;
    }

    .picture-container{
        width: 35%;
    }

    .order-btn{
        font-size: 0.9rem;
        margin-top: 15%;
        padding: 12px 24px;
    }
}

@media (min-width: 700px) and (max-width: 1440px) {
    .cart-order{
        width: 90%;
    }
}