.add-product-container{
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  form {
    display: flex;
    background-color: rgb(253, 250, 245);
    flex-direction: column;
    width: 25vw;
    margin: auto;
    padding: 3rem;
    border-radius: 10px;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input,
  form textarea {
    width: 100%;
  }
  
  form button {
    padding: 10px 20px;
  }
  
  .color-option {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
  }
  
  .ng-select .ng-placeholder {
    color: red;
  }
  
  .ng-dropdown-panel {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .success-message{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    font-family: Inter,"Inter Fallback",sans-serif;
    font-weight: 500;
    color: red;
    font-size: 1.05rem;
    margin-top: 1rem;
  }

  .custom-checkbox {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  
  /* Styling for the checkbox input, hide the default checkbox */
  .custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Styling for the custom checkbox */
  .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
  }
  
  /* Styling for the checkmark when the checkbox is checked */
  .custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #2196F3;
    border-color: #2196F3;
  }
  
  /* Styling for the checkmark symbol inside the custom checkbox */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Styling for the checkmark symbol when the checkbox is checked */
  .custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
    display: block;
  }
  
  /* Styling for the checkmark symbol (the tick) */
  .custom-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }