<div class="add-product-container">
  <div class="form-container">
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div>
        <label for="name">Име:</label>
        <input type="text" id="name" name="name" [(ngModel)]="product.name" required>
      </div>
      <div>
        <label for="commonName">Често срещано име:</label>
        <input type="text" id="commonName" name="commonName" [(ngModel)]="product.commonName" required>
      </div>
      <div>
        <label for="botanicalName">Ботаническо име:</label>
        <input type="text" id="botanicalName" name="botanicalName" [(ngModel)]="product.botanicalName" required>
      </div>
      <div>
        <label for="description">Описание:</label>
        <textarea id="description" name="description" [(ngModel)]="product.description" required></textarea>
      </div>
      <div>
        <label for="additionalDescription">Съвети за отглеждане:</label>
        <textarea id="additionalDescription" name="additionalDescription" [(ngModel)]="product.additionalDescription" required></textarea>
      </div>
      <div>
        <label for="price">Цена:</label>
        <input type="number" id="price" name="price" [(ngModel)]="product.price" required>
      </div>
      <div>
        <ng-select [items]="productTypes"
                    bindLabel="type"
                    name="selectedType"
                    appendTo="body"
                    [closeOnSelect]="true"
                    [multiple]="false"
                    [(ngModel)]="selectedType">
                    <ng-template ng-label-tmp let-item="item">
                      <span *ngIf="!selectedType.type">Изберете категория на продукта</span>
                      <span *ngIf="selectedType.type">{{ selectedType.type }}</span>
                    </ng-template>
        </ng-select>
      </div>
      <div class="custom-checkbox">
        <label for="airPurify">Свойства за пречистване на въздуха:</label>
        <input type="checkbox" id="airPurify" name="airPurify" [(ngModel)]="product.AirPurify">
        <span class="checkmark"></span>
      </div>
      <div class="custom-checkbox">
        <label for="petCompatibility">Съвместимост с домашни любимци:</label>
        <input type="checkbox" id="petCompatibility" name="petCompatibility" [(ngModel)]="product.PetCompatibility">
        <span class="checkmark"></span>
      </div>
      <div>
        <label for="images">Снимки:</label>
        <input type="file" multiple id="images" name="images" accept="image/*" (change)="onFileChange($event)" required>
      </div>
      <div class="form-group col-md-6">
        <label for="productGrowDifficultiesId">Basic select</label>
        <ng-select [items]="productGrowDifficulties"
                    bindLabel="type"
                    name="selectedGrowDifficulty"
                    appendTo="body"
                    placeholder="Трудност за отглеждане"
                    [closeOnSelect]="true"
                    [multiple]="false"
                    [(ngModel)]="selectedGrowDifficulty">
                    <ng-template ng-label-tmp let-item="item">
                      <span *ngIf="!selectedGrowDifficulty.type">Трудност за отглеждане</span>
                      <span *ngIf="selectedGrowDifficulty.type">{{ selectedGrowDifficulty.type }}</span>
                    </ng-template>
        </ng-select>
      </div>
      <div>
        <ng-select [items]="productLightIntensities"
                    name="selectedLightIntensity"
                    bindLabel="type"  
                    placeholder="Изберете чувствителност"  
                    appendTo="body"  
                    [closeOnSelect]="true"
                    [(ngModel)]="selectedLightIntensity">
                    <ng-template ng-label-tmp let-item="item">
                      <span *ngIf="!selectedLightIntensity.type">Чувствителност към светлина</span>
                      <span *ngIf="selectedLightIntensity.type">{{ selectedLightIntensity.type }}</span>
                    </ng-template>
        </ng-select>
      </div>
      <div>
        <ng-select [items]="productSizes"
                    name="selectedSizes"
                    bindLabel="size"  
                    placeholder="Изберете размер"  
                    appendTo="body"  
                    [multiple]="true"
                    [closeOnSelect]="false"
                    [(ngModel)]="selectedSizes">  
        </ng-select>
      </div>
      <div>
        <ng-select  [items]="productColors" 
                    bindLabel="color"
                    name="productColor"
                    placeholder="Изберете цвят" 
                    appendTo="body"
                    [multiple]="true" 
                    [(ngModel)]="selectedColors"
                    [closeOnSelect]="false">
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <span class="color-option" [ngStyle]="{ 'background-color': item.color }"></span>
            {{ item.color }}
          </ng-template>
        </ng-select>  
      </div>
      <button type="submit">Добавете продукта</button>
        <div *ngIf="showSuccessMessage" class="success-message">
          Продуктът е добавен успешно!
        </div>
    </form>
  </div>
</div>