<div class="my-orders-container">
    <h1 class="header">Моите поръчки</h1>

    <div *ngFor="let order of orders" class="order-container">
        <div class="order">
            <div class="order-content">
                <p class="text">Поръчано на {{order.orderCreatedOn | date: 'dd.MM'}}</p>
                <div class="sticker">
                    <p>Доставена</p>
                </div>
            </div>
            <div class="images-container">
                <div *ngFor="let product of order.productsPicture" class="order-img">
                    <img alt="Image of the product" [src]="getBase64ImageUrl(product)">
                </div>
            </div>
        </div>
        <div class="order-date">
            <p>{{order.orderCreatedOn | date: 'yyyy'}}</p>
            <p>{{order.orderCreatedOn | date: 'MMMM'}}</p>
        </div>
    </div>
</div>