.my-orders-container{
    font-family: Inter,"Inter Fallback",sans-serif;
    box-sizing: border-box;
    min-height: calc(100vh - 4.5rem);
    height: auto;
    margin-bottom: 5vh;
}

    .header{
        font-size: 1.4rem;
        padding-bottom: 2.5rem;
    }

    .order-container{
        display: grid;
        grid-template-columns: auto max-content;

        height: auto;
        width: auto;
        grid-gap: 1.5rem;
        margin-bottom: 2rem;
    }

        .order-date{
            grid-column: 2;
            width: auto;
            padding-right: 15vw;
        }

        .order{
            grid-column: 1;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;

            padding: 1.5rem;
            height: 140px;

            border-radius: 5px;
            border: 1px solid rgb(229, 229, 229);
            -webkit-box-shadow: 0px 0px 12px 1px rgba(36,36,36,0.48);
            -moz-box-shadow: 0px 0px 12px 1px rgba(36,36,36,0.48);
            box-shadow: 0px 0px 12px 1px rgba(36,36,36,0.48);
        }

            .order-content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

                .order-content .text{
                    font-size: 0.95rem;
                    font-weight: 600;
                }

                .stickers{
                    display: flex;
                    gap: 5px;
                }

                    .order-content .stickers .sticker{
                        width: max-content;

                        padding: 10px 20px;
                        border-radius: 10px;
                        font-size: 0.9rem;
                    }

            .images-container{
                display: flex;
                flex-wrap: nowrap;
                justify-content: end;
            }

                .order-img{
                    height: 100%;
                    display: flex;
                    justify-content: end;
                    overflow: hidden;
                }

                    .order-img img{
                        height: 100%;
                        max-width: 90%;
                        object-fit: contain;
                        margin-right: 7px;
                    }

.bg-gray{
    background-color: lightgray;
}

.bg-yellow{
    background-color: tan;
}

.bg-blue{
    background-color: lightblue;
}