<div class="profile-container">
    <div class="profile-nav">
        <ul>
            <li (click)="SelectItemIndex(1)" [class.active]="selectedIndex === 1">
                <i class="fa-solid fa-cart-flatbed fa-fw"></i>
                Моите поръчки
            </li>
            <li (click)="SelectItemIndex(2)" [class.active]="selectedIndex === 2">
                <i class="fa-solid fa-lock fa-fw"></i>
                Сигурност
            </li>
        </ul>
    </div>
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>