<div *ngIf="products.length > 0" class="header-container">
    <div class="header">
        <p>
            Любими
        </p>
    </div>
</div>

<!-- mobile -->

<div *ngIf="products.length > 0" class="mobile-products-container">
    <div *ngFor="let product of products" class="card">
        <img (click)="redirectToDetails(product.id)" [src]="getBase64ImageUrl(product.picturesData[0])" alt="Product image">
        <button (click)="addToCart(product)" class="add-to-cart-btn">
            Добави в количка
        </button>
        <div class="add-to-favorite-btn" (click)="deleteFromFavourites(product.id)">
            <i class="fa fa-trash"></i>
        </div>
        <div class="card-details-grid">
            <div class="card-details">
                <h1>{{product.name}}</h1>
                <p>{{product.price}} лв.</p>
            </div>
        </div>
    </div>
</div>

<!-- end of mobile -->

<div *ngIf="products.length > 0" class="container">
    <div class="products-container">
        <div *ngFor="let product of products" class="card">
            <img (click)="redirectToDetails(product.id)" [src]="getBase64ImageUrl(product.picturesData[0])" alt="Product image">
            <button (click)="addToCart(product)" class="add-to-cart-btn">
                Добави в количка
            </button>
            <div class="add-to-favorite-btn" (click)="deleteFromFavourites(product.id)">
                <i class="fa fa-trash"></i>
            </div>
            <div class="card-details-grid">
                <div class="card-details">
                    <h1>{{product.name}}</h1>
                    <p>{{product.price}} лв.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- no favorite products-->
<div *ngIf="products.length <= 0" class="empty-favorite-container">
    <div class="empty-favorite-content">
        <h1>Нямате продукти добавени като любими!</h1>

        <button routerLink="" class="empty-favorite-btn">Обратно към пазаруване</button>
    </div>
</div>