<div class="main">
    <div class="main-picture">
        <img src="assets\BG.png" alt="Picture not found">
        <div class="main-picture-inner-container">
            <h1>
                Намери Своето Растение
            </h1>
            <button routerLink="/indoor-plants">
                Пазарувай сега
            </button>
        </div>
    </div>
</div>
<div class="best-seller-container">
    <h1>
        Най-продавани
    </h1>
    <div class="cards-container">
        <div class="card">
            <img src="assets\card.png">
            <div class="card-details-grid">
                <div class="card-details">
                    <h1>Орхидея</h1>
                    <p>90.00 лв.</p>
                </div>
                <div class="card-secondary-details">
                    <h1>Blue</h1>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="assets\card.png">
            <div class="card-details-grid">
                <div class="card-details">
                    <h1>Орхидея</h1>
                    <p>90.00 лв.</p>
                </div>
                <div class="card-secondary-details">
                    <h1>Blue</h1>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="assets\card.png">
            <div class="card-details-grid">
                <div class="card-details">
                    <h1>Орхидея</h1>
                    <p>90.00 лв.</p>
                </div>
                <div class="card-secondary-details">
                    <h1>Blue</h1>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="assets\card.png">
            <div class="card-details-grid">
                <div class="card-details">
                    <h1>Орхидея</h1>
                    <p>90.00 лв.</p>
                </div>
                <div class="card-secondary-details">
                    <h1>Blue</h1>
                </div>
            </div>
        </div>
    </div>
</div>