.main{

}

    .main-picture{
        height: calc(100vh - 4.5rem);
        width: 100vw;
        object-fit: cover;
    }
        .main-picture > img{
            width: 100%;
            height: 100%;
        }