<div class="main">
    <div class="main-picture">
        <img src="assets\BG.png" alt="Picture not found">
        <div class="main-picture-inner-container">
            <h1>
                Намери Своето Растение
            </h1>
            <button routerLink="/Indoor-plants">
                Пазарувай сега
            </button>
        </div>
    </div>
</div>
<div class="best-seller-container">
    <h1>
        Най-продавани
    </h1>
    <div class="cards-container">
        <div class="card" *ngFor="let product of mostSoldProducts; let i = index">
            <img (click)="redirectToDetails(product.id)" [src]="getBase64ImageUrl(product.picturesData[0])" alt="Product image">
            <!-- <button (click)="addToCart(product)" class="add-to-cart-btn">
                Добави в количка
            </button> -->
            <!-- <div class="add-to-favorite-btn">
                <i class="fa-regular fa-heart"></i>
            </div> -->
            <div class="card-details-grid">
                <div class="card-details">
                    <h1>{{product.name}}</h1>
                    <p>{{product.price}} лв.</p>
                </div>
                <div class="card-secondary-details">
                    <h1>{{product.productColors}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="best-seller-container last-container">
    <h1>
        Най-нови
    </h1>
    <div class="cards-container">
        <div class="card" *ngFor="let product of newestProducts; let i = index">
            <img (click)="redirectToDetails(product.id)" [src]="getBase64ImageUrl(product.picturesData[0])" alt="Product image">
            <!-- <div class="add-to-favorite-btn">
                <i class="fa-regular fa-heart"></i>
            </div> -->
            <div class="card-details-grid">
                <div class="card-details">
                    <h1>{{product.name}}</h1>
                    <p>{{product.price}} лв.</p>
                </div>
                <div class="card-secondary-details">
                    <h1>{{product.productColors}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>