.main{
    height: auto;
    overflow: hidden;
}

    .main-picture{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        height: calc(100vh - 4.5rem);
        width: 100vw;
    }
        .main-picture > img{
            grid-row: 1;
            grid-column: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .main-picture-inner-container{
            grid-row: 1;
            grid-column: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
        
            z-index: 1;
        }

            .main-picture-inner-container > h1{
                display: flex;

                font-size: min(4rem, 13vw);
                line-height: 1.2;
                text-align: center;

                padding-inline: .8rem;

                margin-bottom: 1rem;
                color: White;
            }

            .main-picture-inner-container > button{
                font-size: min(1.5rem, 6.5vw);
                line-height: 1.2;

                margin-bottom: 1rem;
                padding: min(1.3rem, 5vw);

                color: #25523B;
                background-color: peachpuff;

                border: none;
                border-radius: 3rem;
                cursor: pointer;

                transition: .15s linear;
            }

            .main-picture-inner-container > button:hover{
                background-color: rgb(231, 180, 135);
            }

.best-seller-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 250, 245);

    justify-content: start;
    align-items: center;

    height: auto;
    width: 100vw;
}

.last-container{
    padding-bottom: 10vh;
}

    .best-seller-container > h1{
        margin-top: 7vh;
        margin-bottom: 3vh;
        margin-left: calc(15vw + 1.2rem);

        align-self: start;
        overflow: hidden;

        font-size: 2.5rem;
        font-weight: 500;
        color: #25523B;
    }

    .best-seller-container > .cards-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: auto;

        flex-wrap: nowrap;

        height: 60vh;
        width: 70vw;
    }

        .cards-container > .card{
            flex: 0 0 25%;
            padding: 1.2rem;
        }

        .cards-container::-webkit-scrollbar {
            width: 8px;
          }
          
          .cards-container::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 4px;
          }
          
          .cards-container::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            border-radius: 4px;
          }

            .card > img{
                width: 100%;
                height: 85%;
                object-fit: cover;
            }

            .add-to-cart-btn {
                /* Customize the styles of the "add-to-cart" button */
                position: absolute;
                bottom: 10px;
                right: 10px;
                padding: 0.5rem 1rem;
                background-color: #25523B;
                color: #ffffff;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.2s ease;
              }

            .card-details-grid{
                display: grid;
                grid-template-rows: repeat(3, 1fr);

                max-height: 20%;

                margin-top: .6rem;
            }

                .card-details{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: nowrap;

                    grid-row: 1;

                    font-size: 1.4rem;
                    font-weight: 500;
                    color:#25523B;
                }

                .card-secondary-details{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: nowrap;

                    grid-row: 2;

                    font-size: 1.1rem;
                    font-weight: 500;
                    color:#25523B;

                    margin-block: .25rem;
                }
                
                .card-colors{
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: start;

                    grid-row: 3;
                }

@media (max-width: 768px){
    .best-seller-container > .cards-container{
        width: 90vw;
    }
    .best-seller-container > h1{
        margin-left: calc(5vw + 1.2rem);
    }

    .card-details{
        font-size: 1rem;
    }

    .card-secondary-details{
        font-size: .8rem;
    }

    .cards-container > .card{
        flex: 0 0 30%;
    }
}

@media (max-width: 425px) {
    .best-seller-container > .cards-container{
        height: 40vh;
    }

    .best-seller-container > h1{
        font-size: 2rem;
    }

    .cards-container > .card{
        flex: 0 0 45%;
        padding: .4rem;
    }
}